*{
  margin: 0;
  padding: 0;
  border:0;
}
html{
  font-size: 1px;
  height:100%;
}
body{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  overflow: hidden;
  background-color: #000000;
  color: white;
  --corBtn:#bf7f3f;
}
#app{
  padding:12rem 98rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  --altImg:240rem;
  position: relative;
}
#jogo-wrapper{
  width:726rem;
  height:246rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin:12rem 0;
  position: relative;
}
#jogo{
  width:720rem;
  height:240rem;
  border:3rem solid white;
  position: relative;
  background-color: black;
}
#jogo.hasTransition{
  transition: width 500ms linear,height 500ms linear;
}
#jogo>:not(.visivel),#checkMsg>:not(.visivel){
  display: none;
}
#jogo.overflow{
  bottom:0;
  position: absolute;
}

.coracao{
  position: absolute;
  font-size:24rem;
  height: 1em;
  width: 1em;
  z-index: 2;
}
.arredondador{
  position: absolute;
  width:0.6em;
  height:1em;
  bottom:0;
  border-radius: 50%;
  background-color: red;
}
.arredondador:first-child{
  transform: rotate(-30deg); left:0.06em;
}
.arredondador:last-child{
  transform: rotate(30deg); right:0.06em;
}


/* Botões fechar */

.fechar{
  font-family: "Helvetica",sans-serif;
  --corBordaTxt:#bf7f00;
  width: 1em;
  height:1em;
  border:calc(1em / 18) solid var(--corBordaTxt);
  color:var(--corBordaTxt);
  outline: none;
  background-color: #9f0000;
  border-radius: 50%;
  text-align: center;
}
.fechar::before{
  content: "×";
  bottom:0.07em;
  position: relative;
}

#close{
  position: fixed;
  top:32rem;
  right:40rem;
  font-size: 32rem;
}
.modal .fechar{
  position: sticky;
  font-size: 32rem;
  margin-left: auto;
  margin-bottom: -1em;
  margin-right: -12rem;
  display: block;
  top:0;
}

.oculto{
  display: none !important;
}
.pseudoOculto{
  opacity:0;
  visibility: hidden;
}

#hp{
  font-family: monospace;
  justify-content: center;
  position: relative;
  text-align: center;
  font-size: 24rem;
}
#barra{
  position: relative;
  width:5em;
  height:1em;
  display: inline-block;
  vertical-align:middle;
  background-color: #9f1f00;
}
#vida{
  position: absolute;
  top:0;
  bottom:0;
  background-color: #dfbf00;
}

#obstaculos,#batalha{
  position: absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
}
#obstaculos *{
  position: absolute;
  box-sizing: border-box;
}
#obstaculos>:not(.visivel){
  visibility: hidden;
  opacity: 0;
}

@keyframes fade {
  0%{
    opacity: 1;
  }
  100%{
    opacity: 0;
  }
}
/*@keyframes fadeVisib {
  0%{
    opacity: 1;
    visibility: visible;
  }
  100%{
    opacity: 0;
    visibility: hidden;
  }
}*/


/* Indicação do tempo */

#ff{
  position: absolute;
  right:3rem;
  bottom:0;
  font-size: 20rem;
  z-index: 1;
  font-family: sans-serif;
  display: none;
  color:#ffff00;
  white-space: pre;
}
#ff.visivel{
  display: block;
}
#ff.embaixo{
  transform: translateY(100%);
  left:0;
  right:0;
  text-align: right;
}
#ff:not(.reverso)::before{
  content:"⏩︎";
}
#ff.reverso::before{
  content:"⏪︎";
}
#ff.reverso{
  color:#ff9f3f;
}


/* Obstáculos */

.branco{
  --cor:white;
}
.azul{
  --cor:#007fff;
}
.laranja{
  --cor:#ff7f00;
}
#obstaculos *{
  background-color: var(--cor,transparent);
  z-index: 1;
  box-sizing: border-box;
}

#obstaculos .plataforma{
  background: black;
  border:1.5rem solid white;
}
#obstaculos .caixaComBuraco{
  background: radial-gradient(transparent 0%,transparent 50%,var(--cor) 50%,var(--cor) 100%);
}
#obstaculos .caixaPseudoBuraco{
  background: radial-gradient(black 0%,black 50%,var(--cor) 50%,var(--cor) 100%);
}
#obstaculos .fundoFade{
  transition: opacity 500ms linear,visibility 500ms linear;
}
#obstaculos .estilhaco{
  border-radius: 50%;
}


/* Gaster */

@keyframes gasterV {
  0%{
    transform: scaleX(0);
    opacity: 0;
  }
  20%{
    transform: scaleX(calc(1 + var(--scaleVar)));
    opacity: 1;
  }
  40%{
    transform: scaleX(calc(1 - var(--scaleVar)));
  }
  60%{
    transform: scaleX(calc(1 + var(--scaleVar)));
  }
  80%{
    transform: scaleX(calc(1 - var(--scaleVar)));
    opacity: 1;
  }
  100%{
    transform: scaleX(0);
    opacity: 0;
  }
}
@keyframes gasterH {
  0%{
    transform: scaleY(0);
    opacity: 0;
  }
  20%{
    transform: scaleY(calc(1 + var(--scaleVar)));
    opacity: 1;
  }
  40%{
    transform: scaleY(calc(1 - var(--scaleVar)));
  }
  60%{
    transform: scaleY(calc(1 + var(--scaleVar)));
  }
  80%{
    transform: scaleY(calc(1 - var(--scaleVar)));
    opacity: 1;
  }
  100%{
    transform: scaleY(0);
    opacity: 0;
  }
}

.gasterLaser{
  --scaleVar:0.2;
  transition: opacity 100ms linear;
}
.gasterLaser.nao{
  animation: gasterV 0.6s linear forwards;
}
.gasterLaser.girar270{
  animation: gasterH 0.6s linear forwards;
}
.gasterLaser.reverso{
  animation-direction: reverse;
}


/* Chave */

.chave{
  transition: all 200ms linear;
}
.chave:not(.visivel){
  transform: scale(1.5);
}


/* Imagem boss */

#oponente{
  position: relative;
}
#imgOpon{
  position: relative;
  --balango:1rem;
}
#imgOpon>img{;
  height:var(--altImg);
  display: none;
  margin: 0 auto;
}
#imgOpon>.visivel{
  display: block;
}

#imgOpon>[src="Toriel.png"]{
  transform: scale(1.1);
}
#imgOpon>[src="TorielBrava.png"]{
  transform: scale(0.935);
}
#imgOpon>[src="boneco.gif"]{
  transform: scale(0.681);
}

#balao{
  position: absolute;
  background-color: white;
  font-family: sans-serif;
  border-radius: 20rem;
  padding:5rem 10rem;
  font-size: 18rem;
  width:218rem;
  height:109rem;
  right:-12rem;
  transform: translateX(100%);
  top:40rem;
  color:black;
  --wait:1;
  --waitpont:5;
}
#balao::before{
  content: "";
  position: absolute;
  left:-19rem;
  top:20rem;
  border-top:10rem solid transparent;
  border-bottom:10rem solid transparent;
  border-right:20rem solid white;
}
.letraInvisivel{
  visibility: hidden;
  opacity: 0;
}

.txAzul{
  color:#007fff;
}
.txLaranja{
  color:#ff7f00;
}
.soletrado{
  letter-spacing: 0.1em;
  --wait:3;
  --waitPont:7;
}
.btnToriel{
  color:var(--corBtn);
  --borda: 1rem solid var(--corBtn);
  --wait:0;
  --waitPont:0;
}
.btnToriel .elFala{
  border-top: var(--borda);
  border-bottom: var(--borda);
}
.btnToriel .elFala:first-of-type{
  border-left: var(--borda);
  padding-left: 2rem;
}
.btnToriel .elFala:last-of-type{
  border-right: var(--borda);
  padding-right: 2rem;
}
.spoiler{
  font-size: 0.33333em;
}
.spoiler>*{
  vertical-align: top;
}

@keyframes cabum {
  100%{
    transform: scale(1.41);
    opacity: 0;
  }
}
.explodido{
  animation: cabum 250ms linear forwards;
}


/* Botoes */

#botoes{
  margin-top: 12rem;
  display: flex;
}
#botoes>button{
  color:var(--corBtn);
  border:2rem solid var(--corBtn);
  font-size: 32rem;
  padding:6rem 9rem;
  outline: none;
}
#botoes>button:not(:first-child){
  margin-left:24rem;
}


/* Textos */

.tx{
  font-family: monospace;
  font-size: 32rem;
  padding:0.5em 1em;
}
.tx>:last-child{
  margin-bottom: 0;
}
.tx li,.tx p{
  margin-bottom: 0.5em;
}
.tx ul{
  list-style-type:none;
}
.tx ul>li{
  position: relative;
}
.tx ul>li::before{
  content: "*";
  width: 1em;
  float: left;
  top:0;
  bottom:0;
  position: relative;
}
.tx ul>li.hasHeart::before{
  visibility: hidden;
}
.dlpl>li{
  width: 50%;
  float: left;
  box-sizing: border-box;
}
.dlpl::after{
  content: "";
  display: block;
  clear: both;
}

.tx .coracao{
  left:0;
  top:50%;
  transform: translateY(-50%);
}
#botoes .coracao{
  position: relative;
  margin-right: 6rem;
  display: inline-block;
}
:not(.hasHeart)>.coracao{
  visibility: hidden;
}


/* Barra de luta */

#fight{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  box-sizing: border-box;
  margin: 0 auto;
  transition: opacity 500ms linear,visibility 500ms linear,transform 500ms cubic-bezier(.5,.25,.75,.5);
}
#barraAtk{
  margin:0 1em;
  width:100%;
  height:96rem;
  border:3rem solid white;
  display: flex;
  align-items: center;
  position: relative;
  overflow: visible;
}
#grid{
  display: grid;
  grid-template-columns: 3.9fr 0.2fr 2.8fr 0.2fr 1.8fr 0.2fr 0.8fr 0.2fr 1.8fr 0.2fr 2.8fr 0.2fr 3.9fr;
  height:100%;
  width: 100%;
  background-image: linear-gradient(to right,#000000,#1f0000,#1d1d00,#001f00,#1d1d00,#1f0000,#000000);
}
#tiros{
  position: absolute;
  left:-4.5rem;
  width:100%;
  top:-25%;
  bottom:25%;
  z-index: 1;
}

.ruim{
  background-color: #ff0000;
}
.medio{
  background-color: #dfdf00;
}
.bom{
  background-color: #00ff00;
}

@keyframes pow {
  0%{
    left:0;
  }
  100%{
    left:100%;
  }
}
@keyframes blur {
  0%{
    opacity: 1;
    transform: scale(1);
  }
  100%{
    opacity: 0;
    transform: scale(1.25);
  }
}

.tiro,.sangue{
  position: absolute;
  width: 9rem;
  box-sizing: border-box;
  height:150%;
}
.tiro{
  left:0;
  background-color: white;
}
.sangue{
  background-color:#7f1f00;
  animation: fade 1s linear forwards;
  opacity: 1;
  z-index: 1;
}


/* Efeitos de Fight */

@keyframes rise {
  0%{
    transform: translateY(0);
  }
  100%{
    transform: translateY(-50rem);
  }
}

.spanFight{
  font-size: 48rem;
  position: absolute;
  left:0;
  right:0;
  text-align: center;
  font-family: sans-serif;
  font-weight: bold;
  letter-spacing: 0.08em;
  animation: rise 1s linear forwards,fade 0.5s linear 1s forwards;
}
.hit{
  color:#ff3f3f;
  -webkit-text-stroke:0.08em #7f1f1f;
}
.miss{
  color:#bfbfbf;
  -webkit-text-stroke:0.08em #5f5f5f;
}

@keyframes shake {
  0%{
    left:0;
  }
  10%{
    left:calc(9 * var(--balango));
  }
  20%{
    left:calc(-8 * var(--balango));
  }
  30%{
    left:calc(7 * var(--balango));
  }
  40%{
    left:calc(-6 * var(--balango));
  }
  50%{
    left:calc(5 * var(--balango));
  }
  60%{
    left:calc(-4 * var(--balango));
  }
  70%{
    left:calc(3 * var(--balango));
  }
  80%{
    left:calc(-2 * var(--balango));
  }
  90%{
    left:calc(1 * var(--balango));
  }
  100%{
    left:0;
  }
}

#barraOpon{
  height:24rem;
  width:240rem;
  background-color: #7f7f7f;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  transition: opacity 100ms linear,visibility 100ms linear;
}
#vidaOpon{
  position: absolute;
  top:0;
  left:0;
  bottom:0;
  width: 100%;
  background-color: #1fdf1f;
  transition: left 1s linear;
}


/* Menu */

button{
  background: none;
  color:inherit;
}
#menu button,#close,.meter{
  cursor: pointer;
}
#menu header{
  font-family:serif;
  color:#bfbfbf;
  text-align: center;
  margin-bottom:12rem;
}
#menu header h1{
  font-size:40rem;
  font-style: italic;
}
#logo{
  height:60rem;
  margin: 12rem 0 20rem;
  display: block;
}
#menu header h2{
  font-size: 32rem;
  font-family: monospace;
  line-height: 1.15;
  color:#bfbfbf;
  border-top: 1px solid #7f7f7f;
  padding-top:16rem;
}
#botoesMenu{
  display: flex;
  align-items: center;
  justify-content: center;
}
#botoesMenu>:not(:last-child){
  margin-right:36rem;
}
#botoesMenu button{
  position: relative;
  display: block;
  width:100%;
  box-sizing: border-box;
  margin-top: 24rem;
  padding: 6rem 9rem;
  font-size: 28rem;
  color:var(--corBtn);
  border:2rem solid var(--corBtn);
  outline:0;
  -webkit-text-stroke: 0 var(--corBtn);
  transition: color 250ms linear,-webkit-text-stroke 250ms linear;
}
#botoesMenu button:hover{
  --corBtn:#dfbf3f;
  -webkit-text-stroke: 0.5rem var(--corBtn);
}


/* Modal */

.modal{
  position: fixed;
  top:0;
  bottom:0;
  left:0;
  right:0;
  background-color:rgba(255,255,255,0.5);
  opacity:1;
  display: flex;
  transition: visibility 250ms linear,opacity 250ms linear;
  font-family: sans-serif;
  font-size: 16rem;
}
.autosized .modal{
  justify-content: center;
  align-items: center;
}
.modal>*{
  background-color: black;
  border: 3rem solid white;
  padding: 20rem 32rem;
  position: relative;
}
.modal:not(.visivel){
  visibility: hidden;
  opacity: 0;
}


/* Texto modal */

.largPadrao{
  width:500rem;
}

.modal .fechar+*{
  padding-top:0;
  margin-top:0;
}

.modal h2,.modal h3{
  font-family: monospace;
  line-height: 1.15;
}
.modal h2{
  font-size: 32rem;
  margin-right: 62rem;
  padding-top: 16rem;
  padding-bottom: 12rem;
}
.modal h3{
  font-size: 24rem;
  padding-top: 8rem;
  padding-bottom: 12rem;
}

.modal p,.modal .p{
  padding-bottom: 12rem;
}
.modal h4{
  padding-top: 8rem;
  font-size: 16rem;
  padding-bottom: 12rem;
}

.modal>*>:last-child{
  padding-bottom: 0 !important;
}


/* Balão dificuldade */

#botoesMenu button:not(:hover)>.tooltip{
  visibility: hidden;
  opacity: 0;
}
.tooltip{
  -webkit-text-stroke:0;
  position: absolute;
  top:-100vh;
  bottom:-100vh;
  display: flex;
  align-items: center;
  pointer-events: none;
  opacity: 1;
  transition: opacity 250ms linear,visibility 500ms linear;
  cursor: auto;
}
.tooltip.left{
  left:-6rem;
  transform: translateX(-100%);
}
.tooltip.right{
  right:-6rem;
  transform: translateX(100%);
}
.tooltip>*{
  --radius:12rem;
  border-radius: var(--radius);
  --corDiv:#bfbfbf;
  background-color: var(--corDiv);
  pointer-events: auto;
  line-height: 1;
  padding:9rem 6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  color:black;
}
#conteudoDif>div{
  position: relative;
  display: flex;
  align-items: center;
}
#conteudoDif>p{
  font-size: 16rem;
  margin-top:8rem;
}
.tri{
  position: absolute;
  width:5rem;
  top:var(--radius);
  bottom:var(--radius);
  display: flex;
  align-items: center;
}
.left .tri{
  right:1rem;
  transform: translateX(100%);
}
.right .tri{
  left:1rem;
  transform: translateX(-100%);
}
.tri::before{
  content: "";
  --tam:12rem;
  border:var(--tam) solid transparent;
  pointer-events: none;
  position: absolute;
}
.left .tri::before{
  left:0;
  border-left-color: var(--corDiv);
}
.right .tri::before{
  right:0;
  border-right-color: var(--corDiv);
}


/* Range input */

.meter{
  margin: 0 6rem;
  width:120rem;
  height:24rem;
  --largSlider:12rem;
  position: relative;
  display: inline-flex;
  vertical-align: middle;
  align-items: center;
}
.slider{
  height:100%;
  position: absolute;
  left:0;
  top:0;
  width:var(--largSlider);
  border: 1px solid #7f7f7f;
  box-sizing: border-box;
  background-color: #ffffff;
}
.track{
  height:6rem;
  background-color: #979797;
  width: 100%;
}


/* Continuar */

#botoesMenu button[disabled]{
  transition: none;
  --corBtn:#7f7f7f;
  -webkit-text-stroke:0;
  cursor: auto;
}
#botoesMenu button[disabled]>.tooltip{
  display: none;
}
.nobr{
  white-space: nowrap;
}
#ttSave{
  font-size: 16rem;
  width:200rem;
}
#ttSave>:not(:last-child){
  margin-bottom: 6rem;
}
#ttSave dd,#ttSave dt{
  display: inline;
}
#ttSave dt{
  font-weight: bold;
}
#ttSave dt::after{
  content: ": ";
}


/* Treinamento */

#treino{
  --largLi:80rem;
  width:calc(var(--largLi) * 4.77);
}
#fases{
  list-style: none;
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  margin: calc(4rem - 2.5%) 0;
}
#fases>li{
  width:var(--largLi);
  padding:2.5% 0 2.5% 5%;
  box-sizing: border-box;
  height:var(--largLi);
}
#fases>li.final{
  width:calc(2 * var(--largLi));
}
#fases>li:nth-child(5n+1){
  padding-left:0;
  width:calc(var(--largLi) - 5%);
}
#fases>li>*{
  height:100%;
  width:100%;
  box-sizing: border-box;
  border:3rem solid white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(var(--largLi) / 2.5);
}


/* Controles */

.modal dd,.modal dt{
  display: inline;
}
.modal dt{
  font-weight: bold;
}
.modal dt::after{
  content: ": ";
}
.modal dl>:not(:last-child){
  padding-bottom: 12rem;
}
.modal dl{
  padding-bottom: 12rem;
}


/* Itens */

#itens table{
  table-layout: fixed;
  border-collapse: collapse;
  width: 100%;
}
#itens td :last-child{
  padding-bottom: 0 !important;
}
#itens tr:first-child>td{
  width: 33.333%;
  box-sizing: border-box;
}
#itens td{
  vertical-align: top;
}
#itens h2,#itens h3{
  padding-top:0;
}
#itens tr:not(:last-child)>td{
  padding-bottom: 12rem;
  border-bottom: 1rem solid white;
}
#itens tr:not(:first-child)>td{
  padding-top: 12rem;
}
#itens td:not(:last-child){
  border-right: 1rem solid white;
  padding-right:16rem;
}
#itens td:not(:first-child){
  padding-left:16rem;
}
#itens td:first-child{
  border-right: 4rem double white;
}

ul.itens{
  margin-bottom: -6rem;
  padding-bottom: 12rem;
  box-sizing: border-box;
  user-select: none;
}
.itens li{
  margin-bottom: 6rem;
  cursor:pointer;
  white-space: nowrap;
  display: inline-block;
}
dl.itens>div{
  display: flex;
}
dl.itens dd{
  flex:0 1 100%;
}
.itens dd li{
  position: relative;
  top:-3rem;
  display: inline-block;
  left:0.25em;
  margin: 0;
}
.itens li::before{
  content: "- ";
}
.itens.cols2>li{
  width:50%;
}
.itens.cols4>li{
  width:25%;
}
.abs{
  position: absolute !important;
  width: auto !important;
  user-select: none;
}
.abs.hasTransition{
  transition: left 250ms ease-in-out,top 250ms ease-in-out;
}
